<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
  <%= form.email_field :email, placeholder: 'email' %>
  <%= form.password_field :password, placeholder: 'password' %>
  <%= form.submit "Login" %>
<% end %>
